<!-- Site preloader -->
<section id="preloader">
  <div class="site-spinner"></div>
</section>
<!-- End Site preloader -->
<
<!-- Remodal -->
  <%= render "pages/remodal" %>
<!-- End Remodal -->

<!-- Page Wraper -->
<div id="page-wraper">
  <div class="wrapper nav-adjustment">

    <%= render "pages/intro" %>

    <%= render "pages/about" %>
    <%# <%= render "pages/services" %1> %>

    <hr />

    <%= render "pages/day_to_day" %>

    <hr />

    <%= render "layouts/testimonials" %>

    <hr />

    <%= render "pages/our_team" %>

    <hr />

    <%= render "pages/pricing" %>

    <hr />

    <% #render "pages/contact_form" %>

    <%= render "pages/contact_info" %>
  </div>
</div>
<!-- End Page Wraper -->
