<!-- Site preloader -->
<section id="preloader">
  <div class="site-spinner"></div>
</section>
<!-- End Site preloader -->

<!-- Page Wraper -->
<div id="page-wraper">
  <div class="wrapper">
    <%= render "pages/intro" %>

    <%= render "pages/services" %>
      <hr />
    <%= render "pages/day_to_day" %>
      <hr />
    <%= render "pages/pricing" %>
      <hr />
    <% #render "pages/contact_form" %>

    <%= render "pages/contact_info" %>

  </div>
</div>
<!-- End Page Wraper -->
