<div class="page-adjustment"></div>

<div class="container">
  <h1>Introduce Yourself</h1>

  <div class="col-md-6">
    <h2>Questions</h2>

    <ol class="questions">
      <li>Why do you want to build web applications?</li>
      <li>Tell us about an achievement of yours that you are proud of.</li>
      <li>What are your favorite fiction and non-fiction books?</li>
    </ol>
  </div>

  <div class="col-md-6">
    <h2>Response</h2>

    <%= form_for @response do |f| %>
      <div class="form-group">
        <%= f.label :full_name %>
        <%= f.text_field :full_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control", rows: "15" %>
      </div>

      <div class="form-group">
        <%= f.submit "Send", class: "form-control" %>
      </div>

    <% end %>
  </div>

</div>
